.formContainer {
  padding: 40px;
  max-width: 600px;
  width: 100%;
  color: #000000;
  font-family: 'Montserrat', sans-serif;
  position: relative;
  height: 467.84px;
  /* Используем глобальные стили glass-card */
}

.formContainer label {
  margin-bottom: 6px;
  font-weight: 600;
  color: #000000;
  border-radius: 36px;
}

.inputField {
  width: 100%;
  padding: 12px;
  border-radius: 12px;
  border: 1.5px solid #929190c4;
  background: #2b251f;
  color: #000000;
  margin-bottom: 16px;
  font-size: 1rem;
}

.checkboxContainer {
  margin: 20px 0px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.checkboxLabel {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 8px;
  font-size: 0.95rem;
  color: #000000;
}

.link {
  color: #000000;
  text-decoration: underline;
  cursor: pointer;
}

.errorText {
  color: #e64141;
  font-size: 0.9rem;
  font-weight: 600;
  margin-top: -10px;
  margin-bottom: 10px;
}

.submitButton {
  background-color: #808080;
  color: #2b251f;
  border: none;
  border-radius: 999px;
  margin: 10px 30%;
  padding: 14px 24px;
  font-size: 1.1rem;
  cursor: pointer;
  transition: background 0.2s;
}

.submitButton:hover {
  background: rgba(0, 0, 0, 0.174);
  color: #ffffff;
}

.submitButton:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

.realCheckbox {
  display: none;
}

.customCheckbox {
  flex-shrink: 0;
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  background-color: #2b251f;
  border: 2px solid #929190c4;
  border-radius: 4px;
  margin-right: 10px;
  vertical-align: sub; 
}

.customCheckbox::before {
  content: '';
  display: inline-block;
  width: 14px;
  height: 14px;
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  background-image: url('../../../public/chekbox.svg');
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: 0.2s ease-in;
}

.realCheckbox:checked + .customCheckbox::before {
  transform: translate(-50%, -50%) scale(1);
}
.formTitle {
  margin-bottom: 20px; 
}

.mobileLineBreak {
  display: block;
}
