.portfolioContainer {
  max-width: 1200px;
  margin: 0 auto;
  padding: 40px 20px;
}

.portfolioTitle {
    text-align: center;
    color: var(--text-primary);
    letter-spacing: -.025em;
    margin-top: 100px;
    margin-bottom: 40px;
    padding-bottom: 16px;
    font-size: max(1.875rem, min(4vw, 2.5rem));
    font-weight: 700;
    line-height: 1.2;
    position: relative;
    font-weight: 300;
}

.portfolioTitle::after {
    content: "";
    background: var(--gradient-accent);
    border-radius: 2px;
    width: 100%;
    height: 3px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

.carouselWrapper {
  margin-bottom: 40px;
  width: 100%;
}

.allWorksButtonContainer {
  text-align: center;
  margin: 40px 0;
}

.allWorksButton {
  display: inline-block;
  padding: 12px 24px;
  background: #05040072;
  color: white;
  border-radius: 50px;
  text-decoration: none;
  font-weight: 500;
  transition: background-color 0.3s ease;
}

.allWorksButton:hover {
  background: #221c02;
}

.workDetailWrapper {
  margin-top: 40px;
  padding: 20px;
  background: #f9f9f9;
  border-radius: 8px;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.emptyMessage {
  text-align: center;
  padding: 40px;
  font-size: 1.2rem;
  color: #666;
}