.carousel {
  width: 100%;
  position: relative;
  overflow: hidden;
  margin: 0 auto;
}

.carouselContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-bottom: 30px;
}

.itemsContainer {
  width: 100%;
  /* max-width: 1200px; */
  overflow: hidden;
}

.itemsWrapper {
  display: flex;
  transition: transform 0.5s ease;
  gap: 20px;
}

.carouselItem {
flex: 0 0 calc(33.333% - 10.66px);
  box-sizing: border-box;
  display: flex;
  justify-content: center;
}

.prevButton,
.nextButton {
  background: none;
  color: #d4af37;
  border: none;
  padding: 10px 15px;
  border-radius: 50%;
  cursor: pointer;
  font-size: 50px;
  z-index: 1;
  transition: background 0.3s ease;
  margin: 0 px;
}

.prevButton:hover,
.nextButton:hover {
  background: rgba(55, 54, 51, 0.095);
}

.dotsContainer {
  display: flex;
  justify-content: center;
  margin-top: 15px;
  margin-bottom: 20px;
}

.dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #ccc;
  margin: 0 5px;
  border: none;
  cursor: pointer;
  transition: background 0.3s ease;
}

.activeDot {
  background: #333;
}